
                    <button class="btn btn-primary">Shipping address</button>
                    <li><span class="badge badge-light">الاسم</span>{{ object.shipping_address.customer_name }}// <span class="badge badge-light">الهاتف</span>{{ object.shipping_address.phone }}// <span class="badge badge-light">البريد الالكترونى</span>{{ object.shipping_address.email }}</li>
                    <li><span class="badge badge-light">العنوان الرئيسى</span>{{ object.shipping_address.street_address }}</li>// <span class="badge badge-light">العنوان 2</span>{{ object.shipping_address.apartment_address }}</li>// <span class="badge badge-light">البلد</span>{{ object.shipping_address.country }}</li>

