
                    <button class="btn btn-primary">Shipping address</button>
                    <li><span class="badge badge-light">Name</span>{{ object.shipping_address.customer_name }}// <span class="badge badge-light">Phone</span>{{ object.shipping_address.phone }}</li>
                   // <span class="badge badge-light">Email address</span>{{ object.shipping_address.email }}</li>
                    <li><span class="badge badge-light">Main address</span>{{ object.shipping_address.street_address }}// <span class="badge badge-light">Address 2</span>{{ object.shipping_address.apartment_address }}// <span class="badge badge-light">Country</span>{{ object.shipping_address.country }}</li>
